<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author1" content="Vinicius Starck">
	<meta name="author2" content="Vinicius Cassemiro">
	<meta name="author3" content="Saulo Santana">
	<meta name="author4" content="Pedro Uemura">
	<meta name="description" content="Projeto">
	<meta name="robots" content="index, follow">
	<title> P.O.Info </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/Padrao.css">
	<link rel="stylesheet" href="../css/Locais.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js" type="text/javascript"></script>
</head>
<body>
  
	<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="main"><img src="../Imagens/PILOGO.png"></a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light" href="sobreoprojeto">Sobre o Projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="locais">Locais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="comousar">Como Usar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="faleconosco">Fale Conosoco</a>
        </li>
      </ul>
      <a class="perfil" href="/usuario"><%=usuario.nome%></a>
    </div>
	</nav>

	<main>
    <h3>Locais em gráfico:</h3>
    <div id="aplication">

      <canvas id="grafico" width="800" height="600"></canvas>
 
    </div>
	</main>

	<footer>

	</footer>
  <script src="js/charts.js" type="text/javascript"></script>
</body>

	</html>
