<app-carousel></app-carousel>

<h1 class="titulos1">Produtos</h1>
<p class="texto1">cheque aqui os produtos a venda:</p>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/3117553469_1GG.jpg" class="card-img-top" alt="Goku black funko">
  <div class="card-body">
    <h5 class="card-title">Goku black funko</h5>
    <p class="card-text">Compre agora seu funko do Goku black.
      <br>
      <b>R$89,99</b></p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/43331087_1GG (1).jpg" class="card-img-top" alt="Goku instinto superior funko">
  <div class="card-body">
    <h5 class="card-title">Goku ultra instinct funko</h5>
    <p class="card-text">Compre agora seu funko do Goku em versão instinto superior.
      <br>
      <b>R$129,99</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/D_NQ_NP_958652-MLB40759144687_022020-O.jpg" class="card-img-top" alt="Goku Noodles Funko">
  <div class="card-body">
    <h5 class="card-title">Goku Noodles Funko</h5>
    <p class="card-text">Compre agora seu funko do Goku comendo Lamen.
      <br>
      <b>R$120,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/43331087_1GGs.jpg" class="card-img-top" alt="Naruto Funko">
  <div class="card-body">
    <h5 class="card-title">Naruto Funko</h5>
    <p class="card-text">Compre agora seu funko do Naruto.
      <br>
      <b>R$99,99</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/bc64f86f2c63b9e35f26d46b81c161d1.jpg" class="card-img-top" alt="Naruto Noodles Funko">
  <div class="card-body">
    <h5 class="card-title">Naruto Noodles Funko</h5>
    <p class="card-text">Compre agora seu funko do Naruto comendo Lamen do ichiraku.
      <br>
      <b>R$189,99</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/funkos/30711316_1GG.jpg" class="card-img-top" alt="Deku Boku no Hero Funko">
  <div class="card-body">
    <h5 class="card-title">Deku Boku no Hero Funko</h5>
    <p class="card-text">Compre agora seu funko do Deku de Boku no Hero.
      <br>
      <b>R$89,99</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/jogos/forza5.jpg" class="card-img-top" alt="Forza">
  <div class="card-body">
    <h5 class="card-title">Forza Horizon 5 midia física</h5>
    <p class="card-text">Compre agora Forza Horizon 5 em midia física.
      <br>
      <b>R$250,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/jogos/3833897756_1SZ.jpg" class="card-img-top" alt="BF2042">
  <div class="card-body">
    <h5 class="card-title">BattleField 2042 midia física</h5>
    <p class="card-text">Compre agora BattleField 2042 em midia física.
      <br>
      <b>R$250,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
  
</div>
<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/jogos/in028713_1.jpg" class="card-img-top" alt="GTATrilogy">
  <div class="card-body">
    <h5 class="card-title">GTA Trilogy midia física</h5>
    <p class="card-text">Compre agora a Trilogia de GTA em midia física.
      <br>
      <b>R$250,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>

</div>
<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/104531_520x520.jpg" class="card-img-top" alt="OnePunchMan">
  <div class="card-body">
    <h5 class="card-title">BOX One PunchMan</h5>
    <p class="card-text">One Punch Man Box Set 1: Volumes 1 ao 10.
      <br>
      <b>R$250,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/DB1A42.jpg" class="card-img-top" alt="DB1A42">
  <div class="card-body">
    <h5 class="card-title">BOX Dragon Ball  </h5> 
    <p class="card-text">Dragon Ball Box Set 1: Volumes 1 ao 42.
      <br>
      <b>R$550,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/OP1A23.jpg" class="card-img-top" alt="OP1A23">
  <div class="card-body">
    <h5 class="card-title">BOX One Piece 1 </h5> Box Set 1: East Blue and Baroque Works: Volumes 1-23 with Premium (Volume 1)
    <p class="card-text">Box Set 1: East Blue and Baroque Works: Volumes 1-23.
      <br>
      <b>R$350,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/OP24A46.jpg" class="card-img-top" alt="OP24A46">
  <div class="card-body">
    <h5 class="card-title">BOX One Piece 2 </h5> One Piece Box Set 2: Skypiea and Water Seven, Volumes 24-46
    <p class="card-text">One Piece Box Set 2: Skypiea and Water Seven, Volumes 24-46.
      <br>
      <b>R$550,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/OP47A70.jpg" class="card-img-top" alt="OP47A70" >
  <div class="card-body">
    <h5 class="card-title">BOX One Piece 3 </h5> One Piece Box Set 3: Thriller Bark to New World, Bonus Mini Comic "One Piece x Dragon Ball": 47-70
    <p class="card-text">One Piece Box Set 3: Thriller Bark to New World: 47-70.
      <br>
      <b>R$600,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>    

<div class="card" style="width: 18rem;">
  <img src="../assets/imagens/produtos/quadrinhos/OP71A90.jpg" class="card-img-top" alt="OP71A90">
  <div class="card-body">
    <h5 class="card-title">BOX One Piece 4 </h5> One Piece Box Set 4: Dressrosa to Reverie, 4: Volumes 71-90 with Premium
    <p class="card-text">One Piece Box Set 4: Dressrosa to Reverie, 4: Volumes 71-90.
      <br>
      <b>R$450,00</b>
    </p>
    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
  </div>
</div>

