<h1 class="titulos1">Usuários</h1>
<p class="texto1">Gerenciar usuarios</p>

<ul class="menu">
  <li (click)="novoUsuario()">
    Menu Gerenciador
  </li>
</ul>

<div class="interface" *ngIf="usuarioEdicao != undefined">
  <h3>Inserir/Editar Usuarios</h3>
  <input placeholder="Nome" [(ngModel)]="usuarioEdicao.nome"> <br>
  <input placeholder="Celular" [(ngModel)]="usuarioEdicao.celular"> <br>
  <input placeholder="Email" [(ngModel)]="usuarioEdicao.email"> <br>
  <button (click)="cancelar()">Cancelar</button>
  <button (click)="salvar()">Salvar</button>
</div>

<div *ngFor="let usuario of usuarios" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">{{usuario.nome}}</h5>
    <p class="card-text"><b>Email:</b> {{usuario.email}}</p>
    <p class="card-text"><b>Celular:</b> {{usuario.celular}}</p>
    <a class="botao" (click) = "selecionarUsuario(usuario)" class="btn btn-primary">Editar</a>
    <a class="botao" (click) = "excluir(usuario)" class="btn btn-primary">Remover</a>
  </div>
</div>
