 .titulo {
    font-size: 1.5em;
    color: white;
}

.titulos1 {
    margin-top: 30px;
    text-align: center;
}

.texto1 {
    margin-top: 3px;
    text-align: center;
}

.card {
    display: inline-block;
    margin-left: 77px;
    margin-top: 11px;
}

h5:hover {
    color: rgb(15, 119, 255);
}

a {
    margin-right: 8px;
}

.menu {
    display: flex;
    color: white;
    font-weight: bold;
    margin-left: 45px;
}

.menu li {
    list-style: none;
    background-color: #0d6efd;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.menu li:hover {
    background-color: rgb(15, 119, 255);
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
}

button {
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: transparent;
}

button:hover {
    background-color:rgb(15, 119, 255);
}

.interface {
    margin-left: 75px;
}

.interface h3 {
    font-size: 1.3em;
    margin-left: 10px;
}
