<h1 class="titulos1">Categoria</h1>
<p class="texto1">Gerenciar categorias</p>

<ul class="menu">
  <li (click)="novaCategoria()">
    Menu Gerenciador
  </li>
</ul>

<div class="interface" *ngIf="categoriaEdicao != undefined">
  <h3>Inserir/Editar Categorias</h3>
  <input placeholder="Nome" [(ngModel)]="categoriaEdicao.nome"> <br>
  <button (click)="cancelar()">Cancelar</button>
  <button (click)="salvar()">Salvar</button>
</div>

<div *ngFor="let categoria of categorias" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">{{categoria.nome}}</h5>
    <p class="card-text">ID: <b>{{categoria.id}}</b></p>
      <br>
    <a class="botao" (click) = "selecionarCategoria(categoria)" class="btn btn-primary">Editar</a>
    <a class="botao" (click) = "excluir(categoria)" class="btn btn-primary">Remover</a>
  </div>
</div>
