@font-face {
	font-family: Atari;
	src: url(../Utilitarios/Fontes/AtariST8x16SystemFont.ttf)
}

main {
	margin-top: 30px;
}
nav {
	background-color: black;
	height: 6vh;
}

.aplication {
	margin: auto;
	padding: 30px; 
}

#grafico {
	position: static; !important;
}

h3 {
	font-family: Atari;
	color: #5bff4a;
	text-align: center;
	text-shadow: 2px 2px black;
}

footer {
	height: 4vh;
	background-color: #000000;
}