@font-face {
	font-family: Atari;
	src: url(../Utilitarios/Fontes/AtariST8x16SystemFont.ttf)
}

nav {
	background-color: black;
	height: 6vh;
}

.div-1 {
	margin-top: 20px;
	display: inline-block;
	height: 90vh;
}

.div-intro {
	align-content: center;
	margin-left: 500px;
	margin-right: 500px;
}

.div-intro2 {
	margin-left: 500px;
	margin-right: 500px;
}

h1 {
	font-family: Atari;
	color: #3ba32f;
	text-shadow: 2px 2px black;
	text-align: center;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;
}

footer {
	height: 4vh;
	background-color: #000000;
}