<h1 id="titulo">Sobre nós</h1>

<p>Somos os SAITAMA, um grupo de estudantes do SENAC, estamos desenvolvendo este site de e-commerce para o Projeto Integrador do quarto semestre. Espero que gostem do nosso trabalho e voltem sempre.</p>
<br>

<div id="container">
    <div id="div1">
        <h2>Grupo:</h2>
        <p>
            Caio<br>
            Christian<br>
            Guilherme<br>
            Pedro<br>
            Vinicius
        </p>
        <br>
    </div>
    <img src="https://1.bp.blogspot.com/-HfwiWSQQ3Xg/WqLmeyEFEeI/AAAAAAAAHcQ/gsxSVShNDUwLNdf4qxepwW1BEjBe5TaXwCK4BGAYYCw/w1200-h630-p-k-no-nu/ace_and_luffy_by_bodskih-dc4kkox.png" alt="">
</div>